core
ELMERSOLVER_STARTINFO
ice_slab_plan.grd
ice_slab.sif
BCs/slip_linear.sif
ice_slab.*.sif
ice_slab_*.sif
run_elmerice_isambard3_*.slurm
ice_slab_plan/partitioning*
ice_slab_plan/ice_cliff_relaxation.result.*
Results_*/*.pvtu
Results_*/*.vtu
Results_*/animation*.mp4
Results_*/frame*.png
Results_*/*.pvsm